<div class="main-content">
    <h2>Great! Does the co-borrower have any other forms of employment?</h2>
    <h6 class="narrow-padding">If you have provided two years of employment history for the co-borrower that's all we need.</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">  
      <button type="button" class="btn btn-primary btn-style btn-blue">Yes</button>
      <button type="button" class="btn btn-primary btn-style btn-blue">No</button>
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY OPTION) 27 Apply Now I’m Refinancing  Personal Info  Income  co-borrower's title and compensation.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(N0N MILITARY OPTION) 29  Apply Now I’m Refinancing  Personal Info  Income  co-borrower sources of income to share.html" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- click on back button it will goto page 27 apply-now-income-coborrower27 -->
  <!-- click on next button it will goto page 29 apply-now-coborrower-source29 -->