<div class="main-content">
    <h2 class="little-space">How many dependents will be living in your home?</h2>
    <h6 class="narrow-space">All dependents must be between 0 and 18 years old or must be finnacially dependent upon you, the borrower. Do not include yourself or your spouse.</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row margin-top margin-left">
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-3 col-xs-3">
              <button type="button" class="btn" id="btn-minus">-</button>
          </div>
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-3 col-xs-3">
              <h1>0</h1>
          </div>
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-3 col-xs-3">
              <button type="button" class="btn" id="btn-plus">+</button>
          </div>
      </div>
      <div class="row margin-top">
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-4 col-xs-4">  
              <a href="(N0N MILITARY OPTION) 17  Apply Now I’m Refinancing  Personal Info  marital status.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-4 col-xs-4">
              <a href="(N0N MILITARY OPTION) 18A  Apply Now  I’m Refinancing  Personal Info  How many dependents (EDITS).html" class="btn" id="btn-next-blue">Next</a>
          </div> 
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-4 col-xs-4">
              <a href="(N0N MILITARY OPTION) 19  Apply Now I’m Refinancing  Personal Info  Where are you currently living.html" class="btn" id="btn-back-blue">Skip</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click on back button it will go to apply-now-personal-info-marital17 -->
  <!-- click on next button it will go to section 18A -->
  <!-- click on skip button it will go to page 19 apply-now-current-living19 -->

  <!-- section 18A starts -->
  <div class="main-content">
    <h2 class="little-space">How many dependents will be living in your home?</h2>
    <h6 class="narrow-space">All dependents must be between 0 and 18 years old or must be finnacially dependent upon you, the borrower. Do not include yourself or your spouse.</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      <div class="row margin-top margin-left">
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-3 col-xs-3">
              <button type="button" class="btn" id="btn-minus">-</button>
          </div>
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-3 col-xs-3">
              <h1>1</h1>
          </div>
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-3 col-xs-3">
              <button type="button" class="btn" id="btn-plus">+</button>
          </div>
      </div>
      <input type="text" class="form-control form-style margin-top" placeholder="First dependent’s age">

      <div class="row margin-top">
        <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-4 col-xs-4">
            
            <a href="(N0N MILITARY OPTION) 17  Apply Now I’m Refinancing  Personal Info  marital status.html" class="btn" id="btn-back-blue">Back</a>
        </div>
        <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-4 col-xs-4">
            
            <a href="(N0N MILITARY OPTION) 19  Apply Now I’m Refinancing  Personal Info  Where are you currently living.html" class="btn" id="btn-next-blue">Next</a>
        </div> 
        <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-4 col-xs-4">
            
            <a href="(N0N MILITARY OPTION) 19  Apply Now I’m Refinancing  Personal Info  Where are you currently living.html" class="btn" id="btn-back-blue">Skip</a>
        </div>
    </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- section 18A ends -->

  <!-- click on back button it will go to page 17 apply-now-personal-info-marital17 -->
  <!-- click on next or skip button in section 18A it will goto apply-now-current-living19 -->