<div class="main-content">
    <h2>Tell us about your most current employer.</h2>
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <form action="" id="employer-details">
        <select class="form-select form-style">
          <option>W-2 Employee</option>
        </select>
        <input type="text" class="form-control form-style" placeholder="Employer Name">
        <input type="text" class="form-control form-style" placeholder="Address">
        <input type="text" class="form-control form-style" placeholder="Apt / Unit">
        <input type="text" class="form-control form-style" placeholder="City or Town">
        
          <div class="row">
            <div class="col-md-5">
              <select class="form-select form-style">
                <option>State</option>
              </select>
            </div>
            <div class="col-md-7">
              <input type="text" class="form-control form-style" placeholder="Zip Code">
            </div>
          
        </div>
        <input type="text" class="form-control form-style" placeholder="Employer Phone Number">
        <div class="radio-input">
            <div class="row">
              <div class="col-md-12">
                  <input type="checkbox" class="form-style" placeholder=""><p>This is my Current Job</p>
              </div>
            </div>
        </div>
        <input type="text" class="form-control form-style" placeholder="Estimated Start date">
      </form>
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY OPTION) 23  Apply Now I’m Refinancing  Personal Info  Income  talk about employment.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(N0N MILITARY OPTION) 25    Apply Now  I’m Refinancing  Personal Info  Income  compensation.html" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click on back button it will go to page 23 apply-now-income-employment23 -->
  <!-- click on next button it will goto page 25 apply-now-income-compensation25 -->