<div class="main-content">
    <h2>Great! do you have any other forms of employment?</h2>
    <h6 class="narrow-padding">if you have provided two years of employment history that’s all we need.</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(N0N MILITARY OPTION) 27 Apply Now I’m Refinancing  Personal Info  Income  co-borrower's title and compensation.html" class="btn btn-primary btn-style btn-blue">Yes, I have more to add</a>
      
      <a href="(N0N MILITARY OPTION) 27 Apply Now I’m Refinancing  Personal Info  Income  co-borrower's title and compensation.html" class="btn btn-primary btn-style btn-blue">No, I don’t have more to add</a>
      

      <div class="row">
          <div class="col-md-12 margin-top">
              
              <a href="(N0N MILITARY OPTION) 25    Apply Now  I’m Refinancing  Personal Info  Income  compensation.html" class="btn" id="btn-back-blue">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click on back button it will goto apply-now-income-compensation25 -->
  <!-- click on any other button it will goto page 27 apply-now-income-coborrower27 -->
