<div class="main-content">
    <h2>Let’s talk about employment.</h2>
    <h6 class="narrow-padding">We recommend you provide two-years of employment history. Do you have current or past employment history to add?</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <a href="(N0N MILITARY OPTION) 24    Apply Now  I’m Refinancing  Personal Info  Income  current employer.html" class="btn btn-primary btn-style btn-blue">Yes</a>
      <a href="(N0N MILITARY OPTION) 24    Apply Now  I’m Refinancing  Personal Info  Income  current employer.html" class="btn btn-primary btn-style btn-blue">No</a>
      <div class="row">
          <div class="col-md-12 margin-top">
              
              <a href="(N0N MILITARY OPTION) 22  Apply Now I’m Refinancing  Personal Info  Income.html" class="btn" id="btn-back">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
<!-- click on back button it will goto apply-now-personal-income22 -->
  <!-- click on any button it will goto page 24 apply-now-current-employer24 -->