<div class="main-content">
    <h2>Let's take a few seconds to review and confirm your info again.</h2>
    <div class="content-area">
      <div class="row">
        <div class="col-md-8">
          <h6>Borrower Information</h6>
        </div>
        <div class="col-md-4 right-align">
          
          <a href="(N0N MILITARY) 25A  Apply Now  I’m Purchasing  Personal Info  Edits Example Format .html" class="btn" id="btn-edit">Edit</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="profile-details">
            <p>Legal First Name : Jhon</p>
            <p>Legal Last Name: Cole</p>
            <p>Phone Number: (512) 318-2199</p>
            <p>Email Address: jon24@gmail.com</p>
            
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="seperator-line"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-8">
            <h6>Borrower Information</h6>
          </div>
          <div class="col-md-4 right-align">
            <button type="button" class="btn" id="btn-edit">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="profile-details">
              <p>Did someone refer you to EZ Online Mortgage? No</p>
              <p>Are you applying on your own, or jointly with another person? Applying on my own</p>
              <p>Marital Status: Unmarried</p>
              <p>How many dependents will be living in your home? 0</p>
              
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="seperator-line"></div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6>Borrower Residence</h6>
          </div>
          <div class="col-md-4 right-align">
            <button type="button" class="btn" id="btn-edit">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="profile-details">
              <p>Address: 5902 Balcones Drive</p>
              <p>City or Town: Austin</p>
              <p>State: TX</p>
              <p>ZIP Code: 78731</p>
              <p>When did you start living here?: Jan 2017</p>
              <p>Are you currently renting, or do you own?: Rent</p>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="seperator-line"></div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6>Monthly Expenses</h6>
          </div>
          <div class="col-md-4 right-align">
            <button type="button" class="btn" id="btn-edit">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="profile-details">
              <p>Estimated Monthly Expenses: $3,000</p>
              
            </div>
          </div>
        </div>
    </div>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY) 24  Apply Now  I’m Purchasing  monthly housing expenses.html" class="btn" id="btn-back">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(N0N MILITARY) 26  Apply Now  I’m Purchasing  Income.html" class="btn" id="btn-next">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click next button it will move to page no 26 purchase-income26 -->

  <!-- page no25A content here click edit button -->

  <div class="main-content">
    <h2>Let's take a few seconds to review and confirm your info again.</h2>
    <div class="content-area">
      <div class="row">
        <div class="col-md-8">
          <h6>Borrower Information</h6>
        </div>
        <div class="col-md-4 right-align">
          
          <a href="(N0N MILITARY) 25  Apply Now  I’m Purchasing  Personal Info  Need Edits .html" class="btn" id="btn-edit">Done</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <form action="" id="address">
              <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control form-style" placeholder="Legal First Name">
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-style" placeholder="Middle Initial">
                  </div>
              </div>
              <input type="text" class="form-control form-style" placeholder="Legal Last Name">
              <input type="text" class="form-control form-style" placeholder="Phone Number">
              <input type="email" class="form-control form-style" placeholder="Email Address">
              
              
                
            </form>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="seperator-line"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-8">
            <h6>Borrower Information</h6>
          </div>
          <div class="col-md-4 right-align">
            <button type="button" class="btn" id="btn-edit">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="profile-details">
              <p>Did someone refer you to EZ Online Mortgage? No</p>
              <p>Are you applying on your own, or jointly with another person? Applying on my own</p>
              <p>Marital Status: Unmarried</p>
              <p>How many dependents will be living in your home? 0</p>
              
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="seperator-line"></div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6>Borrower Residence</h6>
          </div>
          <div class="col-md-4 right-align">
            <button type="button" class="btn" id="btn-edit">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="profile-details">
              <p>Address: 5902 Balcones Drive</p>
              <p>City or Town: Austin</p>
              <p>State: TX</p>
              <p>ZIP Code: 78731</p>
              <p>When did you start living here?: Jan 2017</p>
              <p>Are you currently renting, or do you own?: Rent</p>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="seperator-line"></div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6>Monthly Expenses</h6>
          </div>
          <div class="col-md-4 right-align">
            <button type="button" class="btn" id="btn-edit">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="profile-details">
              <p>Estimated Monthly Expenses: $3,000</p>
              
            </div>
          </div>
        </div>
    </div>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY) 25  Apply Now  I’m Purchasing  Personal Info  Need Edits .html" class="btn" id="btn-back">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(N0N MILITARY) 26  Apply Now  I’m Purchasing  Income.html" class="btn" id="btn-next">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- Click done button after changes it will move to main section25 -->