
    <div class="main-content">
      <h2>Whatever your goal, we’ll help you achieve it quickly and easily!</h2>
      <h4>How can we help?</h4>
      <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
        <!-- href="2 Apply Now-I’m Purchasing  I have a signed purchase contract.html" -->
        <a routerLink="/signed-purchase"  class="btn btn-primary btn-style btn-pur-orange" role="button">I’m Purchasing</a>
        
        <a routerLink="/refinance" class="btn btn-primary btn-style btn-ref-blue" role="button">I’m Refinancing</a>

      </div>
      <div class="content-footer">
        <p>Already have an account | <a href="">Log in</a></p>
        <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
      </div>
    </div>
