<!-- No 13 Purchase Property On Selecting Yes from Purchase-yes-mil -->
<div class="main-content" *ngIf="isEdit!=true">
    <h2>Let's take a few seconds to review and confirm your info so far.</h2>
    <div class="content-area">
      <div class="row">
        <div class="col-md-8">
          <h6>Property Info</h6>
        </div>
        <div class="col-md-4 right-align">
          
          <a (click)="isEdit=true" class="btn" id="btn-edit">Edit</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="profile-details">
            <p>Address: 23315 Calvert Street</p>
            <p>City or Town: Los Angeles</p>
            <p>State: CA</p>
            <p>Zip Code: 91367</p>
            <p>County: Los Angeles</p>
            <p>Closing Date: 02/20/2022</p>
            <p>Estimated Home Price: $700,000</p>
            <p>Down Payment Amount: $200,000</p>
            <p>Down Payment Percent: 28%</p>
            <p>Estimated annual taxes: $7,000</p>
            <p>Estimated annual home insurance: $1,200</p>
            <p>Self-selected Credit Score: Excellent (740+)</p>
            <p>Legal First Name: Jeff</p>
            <p>Legal Last Name: Hill </p>
            <p>Phone Number: (213) 555-1212</p>
            <p>Email Address: jeff@aol.com</p>
            <p>Type of Home: Co-op </p>
            <p>Monthly HOA dues: $200</p>
            <p>Property Usage: Primary Residence</p>
            <p>Are you a current or former member of the US Military?: Yes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a [routerLink]="['/purchase/purchase-non-mil']" class="btn" id="btn-back">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(N0N MILITARY) 18  Apply Now  I’m Purchasing  Personal Info.html" class="btn" id="btn-next">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- On Edit ButtonClick 13A Information Page-->
  <div class="main-content" *ngIf="isEdit==true">
    <h2>Let's take a few seconds to review and confirm your info so far.</h2>
    <div class="content-area">
      <div class="row padding-fifteen">
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
          <h6>Personal Info</h6>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 right-align">
          
          <a (click)="isEdit=false" class="btn" id="btn-edit">Done</a>
        </div>
      </div>
    </div>

    

    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <form action="" id="address">
          <input type="text" class="form-control form-style" placeholder="Address">
          <input type="text" class="form-control form-style" placeholder="Apt / Unit">
          <input type="text" class="form-control form-style" placeholder="City or Town">
              <div class="row">
                  <div class="col-md-6 offset-md-3">
                      <input type="text" class="form-control form-style" placeholder="Zip Code">
                  </div>
              </div>
              <select class="form-select form-style">
                  <option>City Name</option>
              </select>
          <input type="text" class="form-control form-style" placeholder="Closing Date">
      </form>
      <p class="text-center">Do either of these apply to the property?</p>
      <div class="radio-input">
          <div class="row">
              <div class="col-md-12">
                  <input type="checkbox" class="form-style" placeholder=""><p>New construction</p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <input type="checkbox" class="form-style" placeholder=""><p>Foreclosure / Bank Owned</p>
              </div>
          </div>
      </div>
      <form action="" id="purchase-price">
          <input type="text" class="form-control form-style" placeholder="Estimated Home Price">
          <div class="row">
              <div class="col-md-8 padding-right">
                  <input type="text" class="form-control form-half-left" placeholder="Down Payment Amount">
              </div>
              <div class="col-md-4 padding-left">
                  <input type="text" class="form-control form-half-right" placeholder="Percent">
              </div>
          </div>
          <input type="text" class="form-control form-style" placeholder="Estimated annual taxes">
          <input type="text" class="form-control form-style" placeholder="Estimated annual home insurance">
      </form>

      <h6 id="padding-up">Self selected Credit Score</h6>

      <button type="button" class="btn btn-primary btn-style btn-orange">Excellent (740+)</button>
      <button type="button" class="btn btn-primary btn-style btn-orange">Good(700 - 739)</button>
      <button type="button" class="btn btn-primary btn-style btn-orange">Average (640 - 699)</button>
      <button type="button" class="btn btn-primary btn-style btn-orange">Fair (580 - 639)</button>
      <button type="button" class="btn btn-primary btn-style btn-orange">Needs Improvement (less then 580)</button>

      <form action="" id="address">
          <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control form-style" placeholder="Legal First Name">
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control form-style" placeholder="Middle Initial">
              </div>
          </div>
          <input type="text" class="form-control form-style" placeholder="Legal Last Name">
          <input type="text" class="form-control form-style" placeholder="Phone Number">
          <input type="email" class="form-control form-style" placeholder="Email Address">
            
      </form>
      <h6 id="padding-up">Type of home</h6>

      <button type="button" class="btn btn-primary btn-style btn-orange">Single Family</button>
      <button type="button" class="btn btn-primary btn-style btn-orange">Condo</button>
      <button type="button" class="btn btn-primary btn-style btn-orange">Co-op</button>
      <button type="button" class="btn btn-primary btn-style btn-orange">Townhome</button>
      <button type="button" class="btn btn-primary btn-style btn-orange">Multi-Family</button>

      <form action="">
          <input type="text" class="form-control form-style" placeholder="Monthly HOA dues">
      </form>

      <h6 id="padding-up">Property Usage</h6>

      <button type="button" class="btn btn-primary btn-style btn-orange">Primary Residance</button>
      <button type="button" class="btn btn-primary btn-style btn-orange">Condo</button>
      <button type="button" class="btn btn-primary btn-style btn-orange">Co-op</button>

      <h6 id="padding-up">Are you a current or former member of the US Military?</h6>

      <button type="button" class="btn btn-primary btn-style btn-orange">Yes</button>
      <button type="button" class="btn btn-primary btn-style btn-orange">No</button>

      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="(MILITARY OPTION) 13  Apply Now  I’m Purchasing  Property Info.html" class="btn btn-orange" id="btn-back">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(MILITARY OPTION) 14  Apply Now  I’m Purchasing  Military Info.html" class="btn btn-orange" id="btn-next">Next</a>

          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>


  <!-- On Next Button Click 14 Page Info purchase-military-info -->