<div class="main-content">
    <h2 id="padding-zero">OK! Now tell us a little bit about yourself.</h2>
    <h6>And for your peace of mind please know we'll never sell your info to 3rd parties.</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <form action="" id="address">
        <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control form-style" placeholder="Legal First Name">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control form-style" placeholder="Middle Initial">
            </div>
        </div>
        <input type="text" class="form-control form-style" placeholder="Legal Last Name">
        <input type="text" class="form-control form-style" placeholder="Phone Number">
        <input type="email" class="form-control form-style" placeholder="Email Address">
        <input type="password" class="form-control form-style" placeholder="Password">
        <input type="password" class="form-control form-style" placeholder="Confirm Password">
        <div class="row">
            <div class="col-md-12">
                <div class="password-details">
                    <p>Passwords must be at least 8 characters and use at least three of the four available character types: lowercase and uppercase letters, numbers, and symbols.</p>
                </div>
            </div>
        </div>
        <p>Have an account? <a href="#">Log in</a></p> 
        <div class="row">
            <div class="col-md-12">
                <div class="terms">
                    <p>By entering phone number and clicking the "Next" button, you are providing express written consent for EZ Online Mortgage. and its affiliates, agents, and service providers to contact you at that number regarding products or services, including via auto-dialed and/or prerecorded or artificial voice calls and text messages (SMS and MMS), or email even if your telephone number is a cellular number or on a corporate, state, or the National Do Not Call Registry <span class="orange-text">(DNC)</span> or other do not contact list.</p>

                      <p>You may also reach us at <span class="orange-text">(800) 930-8195</span> or by utilizing our services at <span class="orange-text">Loan Options</span>. You may opt-out at any time by emailing us a Do Not Call Request at <span class="orange-text"><a href="">dnc@ezonlinemortgage.com</a></span> and providing your phone number. Your consent is not required or a condition of any purchase. Message and data rates may apply.</p>
                      
                      <p>You also consent to our <span class="orange-text">SMS terms, Privacy Policy, Terms of Use,</span> and <span class="orange-text">CA Terms</span> of Use. By communicating with us by phone you consent to calls being recorded and monitored.</p>
                </div>
            </div>
        </div>
          
      </form>
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a routerLink="/purchase/purchase-mil-info/6" class="btn btn-orange" id="btn-back">Back</a>
          </div>
          <div class="col-md-2">
              <a type="button" class="btn btn-orange" routerLink="/purchase/income-info/1" id="btn-next">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- On back button click it will go to purchase-military=info section 14E -->
  <!-- On Next Button Click nothing happening for now -->