<div class="main-content">
    <h2 class="tiny-space">Did someone refer you to EZ Online Mortgage?</h2>
    
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      <button type="button" class="btn btn-primary btn-style btn-orange">Yes</button>
      <button type="button" class="btn btn-primary btn-style btn-active btn-orange">No</button>
      

      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY) 18  Apply Now  I’m Purchasing  Personal Info.html" class="btn" id="btn-back">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(N0N MILITARY) 20  Apply Now I’m Purchasing  Applying on  my oun.html" class="btn" id="btn-next">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- Click next it will go to page20 on my own component -->