<div class="main-content">
    <h2 id="padding-zero">Tell us about your monthly expenses?</h2>
    <h6>Simply provide your monthly rent.</h6>
    <div class="button-list margin-top extra-margin col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <form action="">
        <input type="text" class="form-control form-style" placeholder="Estimated Monthly Expenses">
      </form>
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY OPTION) 19  Apply Now I’m Refinancing  Personal Info  Where are you currently living.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(N0N MILITARY OPTION) 21  Apply Now I’m Refinancing  Personal Info  Review  (Edit).html" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click on back button it will goto page 19 apply-now-current-living19 -->
  <!-- click on next button it will goto page 21 apply-now-info-review21  -->