<div class="main-content" *ngIf="number==1">
    <h2>Now tell us about your assets.</h2>
    <h6>if you’re not exactly sure, your best guess is fine.</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <form action="" id="employer-details">
        
          <select class="form-select form-style">
              <option>-Account type-</option>
          </select>
        <input type="text" class="form-control form-style" placeholder="Finantional institution">
        <input type="text" class="form-control form-style" placeholder="Balance">
        <select class="form-select form-style">
          <option>- Owner -</option>
      </select>
      </form>
      <div class="row margin-top">
          <div class="col-md-2 offset-md-1">
              
              <a (click)="history.back()" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2 offset-md-1">
              
              <a routerLink="/refinance/assets-info/2" class="btn" id="btn-next-blue">Next</a>
          </div>
          <div class="col-md-2 offset-md-1">
              
              <a routerLink="/refinance/assets-info/2" class="btn" id="btn-back-blue">Skip</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <div class="main-content" *ngIf="number==2">
    <h2>Thanks! Do you have any other assets you’d like to share?</h2>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <a routerLink="/refinance/assets-info/3" class="btn btn-primary btn-style btn-blue">Yes</a>
      <a routerLink="/refinance/gov/1" class="btn btn-primary btn-style btn-blue">No</a>
      <div class="row">
          <div class="col-md-3 offset-md-3">
              <a routerLink="/refinance/assets-info/1" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              <a routerLink="/refinance/assets-info/3" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

 <div class="main-content" *ngIf="number==3">
    <h2>Let’s review and comfirm your assets.</h2>
    <div class="content-area">
      <div class="row">
        <div class="col-md-8">
          <h6>Asset</h6>
        </div>
        <div class="col-md-4 right-align">
          
          <a routerLink="/refinance/assets-info/4" class="btn" id="btn-edit">Edit</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="profile-details">
            <p>Account Type: Checking account</p>
            <p>Financial Institution: Bank of America</p>
            <p>Balance: $125,000</p>
            
          </div>
        </div>
      </div>
      
    </div>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row">
          <div class="col-md-3 offset-md-3">
              <button type="button" class="btn" id="btn-back-blue">Back</button>
          </div>
          <div class="col-md-2">
              <button type="button" class="btn" id="btn-next-blue">Next</button>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  
<div class="main-content" *ngIf="number==4">
    <h2>Let’s review and comfirm your assets.</h2>
    <div class="content-area">
      <div class="row">
        <div class="col-md-8">
          <h6>Asset</h6>
        </div>
        <div class="col-md-4 right-align">
          
          <a routerLink="/refinance/assets-info/3" class="btn" id="btn-edit">Done</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 margin-top">
          <form action="" id="employer-details">
              <select class="form-select form-style">
                <option>Checking Account</option>
              </select>
             
              <input type="text" class="form-control form-style" placeholder="Finantional institution">
              <input type="text" class="form-control form-style" placeholder="Balance">
            </form>
        </div>
      </div>
      
        
    </div>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a routerLink="/refinance/assets-info/2" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              
              <a routerLink="/refinance/gov/1" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
