<div class="main-content">
    <h2>Does the co-borrower have any other sources of income?</h2>
    
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(N0N MILITARY OPTION) 32  Apply Now I’m Refinancing  Personal Info  Income  co-borrower income Review.html" class="btn btn-primary btn-style btn-blue">Yes</a>
      
      <a href="(N0N MILITARY OPTION) 32  Apply Now I’m Refinancing  Personal Info  Income  co-borrower income Review.html" class="btn btn-primary btn-style btn-blue">No</a>
      

      <div class="row">
          <div class="col-md-12 margin-top">
              
              <a href="(N0N MILITARY OPTION) 30  Apply Now I’m Refinancing  Personal Info  Income  co-borrower sources of income.html" class="btn" id="btn-back-blue">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>


  <!-- click on back button it will goto page 30 apply-now-coborrower-source30 -->
  <!-- click yes/no it will goto page 32 apply-now-income-review32 -->