<div class="main-content">
    <h2 class="tiny-space">Did someone refer you to EZ Online Mortgage?</h2>
    
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      <button type="button" class="btn btn-primary btn-style btn-blue">Yes</button>
      <button type="button" class="btn btn-primary btn-style btn-blue">No</button>
      <input type="text" class="form-control form-style" placeholder="That’s make us happy! Who refered us?">

      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY OPTION) 13  Apply Now  I’m Refinancing  Property Info  REGISTRATION.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(N0N MILITARY OPTION) 15 Apply Now  I’m Refinancing  Property Info  Applying on  my own.html" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

    <!-- click next button it will move to page 14 apply-now-prop-info-own15 -->
    <!-- click back button it will move to page 13 apply-now-prop-info-register13 -->
    