<div class="main-content">
    <h2>Is the co-borrower your legal spouse?</h2>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(N0N MILITARY OPTION) 17  Apply Now I’m Refinancing  Personal Info  marital status.html" class="btn btn-primary btn-style btn-blue">Yes</a>
      
      <a href="(N0N MILITARY OPTION) 17  Apply Now I’m Refinancing  Personal Info  marital status.html" class="btn btn-primary btn-style btn-blue">No</a>
      
      <div class="row">
          <div class="col-md-12 margin-top">
              
              <a href="(N0N MILITARY OPTION) 15 Apply Now  I’m Refinancing  Property Info  Applying on  my own.html" class="btn" id="btn-back-blue">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- click on back button will go to apply-now-prop-info-own15 -->
  <!-- click on any button will go to page 17 apply-now-personal-info-marital17 -->