<div class="main-content">
    <h2>Which best describes the source of the co-borrower's income?</h2>
    
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <form action="">
          <input type="text" class="form-control form-style" placeholder="- Income Type -">
          <input type="text" class="form-control form-style" placeholder="Monthly Amount">
      </form>
      
      <div class="row margin-top">
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-2 offset-sm-1 col-xs-2 offset-xs-1">
              
              <a href="(N0N MILITARY OPTION) 29  Apply Now I’m Refinancing  Personal Info  Income  co-borrower sources of income to share.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-2 offset-sm-1 col-xs-2 offset-xs-1">
              
              <a href="(N0N MILITARY OPTION) 31  Apply Now I’m Refinancing  Personal Info  Income  co-borrower any other sources of income to share.html" class="btn" id="btn-next-blue">Next</a>
          </div>
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-2 offset-sm-1 col-xs-2 offset-xs-1">
              
              <a href="(N0N MILITARY OPTION) 31  Apply Now I’m Refinancing  Personal Info  Income  co-borrower any other sources of income to share.html" class="btn" id="btn-back-blue">Skip</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click on back button it will goto page 29 apply-now-coborrower-source29 -->
  <!-- click on any other button it will goto page 31 apply-now-coborrower-other-source31 -->