<div class="main-content">
    <h2>Are you applying on your own, or jointly with another person?</h2>
    <h6 class="narrow-space">if applying with another person, we’ll refer to that person as your co-borrower throughout the applcation.</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(N0N MILITARY) 21  Apply Now  I’m Purchasing  Saparated.html" class="btn btn-primary btn-style btn-orange">Applying on my oun</a>
      
      <a href="(N0N MILITARY) 21  Apply Now  I’m Purchasing  Saparated.html" class="btn btn-primary btn-style btn-orange">Applying with another person</a>
      

      <div class="row">
          <div class="col-md-12 margin-top">
              
              <a href="(N0N MILITARY) 19  Apply Now  I’m Purchasing  NO.html" class="btn" id="btn-back">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!--Click any of two buttons it will goto the page21  -->