<div class="main-content">
    <h2>Let's take a few seconds to review and confirm your info so far.</h2>
    <div class="content-area">
      <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
          <h6>Property Info</h6>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 right-align">
          
          <a href="(N0N MILITARY OPTION) 12A  Apply Now I’m Refinancing  Property Info  review and confirm.html" class="btn" id="btn-edit">Edit</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="profile-details">
            <p>Preferred Loan Terms: Lower rate</p>
            <p>Address: 7431 Paso Robles Avenue</p>
            <p>City or Town: Los Angeles</p>
            <p>Zip Code: 91406</p>
            <p>State: CA</p>
            <p>County: Los Angeles</p>
            <p>Estimated Value: $242,424</p>
            <p>Remaining Loan Balance: $234,242</p>
            <p>Cash Out Amount: $3,224</p>
            <p>Loan Amount: $237,466</p>
            <p>Self-selected Credit Score: Average (640 – 699)</p>
            <p>Type of Home: Co-op</p>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="seperator-line"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
            <h6>Property Details</h6>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 right-align">
            
            <a href="(N0N MILITARY OPTION) 12A  Apply Now I’m Refinancing  Property Info  review and confirm.html" class="btn" id="btn-edit">Edit</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="profile-details">
              <p>Year Home was Purchased: 2019</p>
              <p>Original Purchase Price: $234,224</p>
              <p>Estimated annual taxes: $2,342</p>
              <p>Estimated annual home insurance: $24,252</p>
              <p>Property Usage: Second Home</p>
              <p>Are you a current or former member of the US Military?: Yes</p>
            </div>
          </div>
        </div>
    </div>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row">
          <div class="col-md-3 offset-md-3 col-lg-3 offset-lg-3  col-sm-6 col-xs-6">
              
              <a href="(MILITARY OPTION) 8  Apply Now I’m Refinancing Yes - BUTTON.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6">
              
              <a href="(N0N MILITARY OPTION) 13  Apply Now  I’m Refinancing  Property Info  REGISTRATION.html" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click back move to page 8 apply-now-refinance-yes8 -->
  <!-- click next button move to page 13 apply-now-prop-info-register13 -->

  <!-- click edit button will move to below section 12A -->

  <!-- 12A starts -->
  <div class="main-content">
    <h2>Let's take a few seconds to review and confirm your info so far.</h2>
    <div class="content-area">
      <div class="row padding-fifteen">
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
          <h6>Property Info</h6>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 right-align">
          
          <a href="(N0N MILITARY OPTION) 12  Apply Now I’m Refinancing  Property Info.html" class="btn" id="btn-edit">Done</a>
        </div>
      </div>
    </div>

    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <button type="button" class="btn btn-primary btn-style btn-blue">Lower monthly payment <br> <span class="tiny-font">Free up monthly cash to spend however you want</span></button>
      <button type="button" class="btn btn-primary btn-style btn-blue">Lower rate <br> <span class="tiny-font">Lower the rate, the less interest you pay over the life of the loan</span></button>
      <button type="button" class="btn btn-primary btn-style btn-blue">Shorter loan term <br> <span class="tiny-font">Reduce your interest rate and own your home faster</span></button>
      <button type="button" class="btn btn-primary btn-style btn-blue">Cash-Out <br> <span class="tiny-font">Take cash out from the equity you’ve built up in your home to use however you need</span></button>
       
      <form action="" id="address">
          <input type="text" class="form-control form-style" placeholder="Address">
          <input type="text" class="form-control form-style" placeholder="Apt / Unit">
          <input type="text" class="form-control form-style" placeholder="City or Town">
              <div class="row">
                  <div class="col-lg-7">
                      <input type="text" class="form-control form-style" placeholder="Zip Code">
                  </div>
                  <div class="col-lg-5">
                      <select class="form-select form-style">
                          <option>-State-</option>
                      </select>
                  </div>
              </div>
              <select class="form-select form-style">
                  <option>-County-</option>
              </select>
          <input type="text" class="form-control form-style" placeholder="Estimated Value">
          <input type="text" class="form-control form-style" placeholder="Remaining Loan Balance">
          <input type="text" class="form-control form-style" placeholder="Cash Out Amount">
      </form>
      
      <h6 id="padding-up">Self selected Credit Score</h6>

      <button type="button" class="btn btn-primary btn-style btn-blue">Excellent (740+)</button>
      <button type="button" class="btn btn-primary btn-style btn-blue">Good(700 - 739)</button>
      <button type="button" class="btn btn-primary btn-style btn-blue">Average (640 - 699)</button>
      <button type="button" class="btn btn-primary btn-style btn-blue">Fair (580 - 639)</button>
      <button type="button" class="btn btn-primary btn-style btn-blue">Needs Improvement (less then 580)</button>

      <form action="" id="address">
          <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control form-style" placeholder="Legal First Name">
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control form-style" placeholder="Middle Initial">
              </div>
          </div>
          <input type="text" class="form-control form-style" placeholder="Legal Last Name">
          <input type="text" class="form-control form-style" placeholder="Phone Number">
          <input type="email" class="form-control form-style" placeholder="Email Address">
            
      </form>
      <h6 id="padding-up">Type of home</h6>

      <button type="button" class="btn btn-primary btn-style btn-blue">Single Family</button>
      <button type="button" class="btn btn-primary btn-style btn-blue">Condo</button>
      <button type="button" class="btn btn-primary btn-style btn-blue">Co-op</button>
      <button type="button" class="btn btn-primary btn-style btn-blue">Townhome</button>
      <button type="button" class="btn btn-primary btn-style btn-blue">Multi-Family</button>

      <form action="">
          <input type="text" class="form-control form-style" placeholder="Monthly HOA dues">
      </form>
    </div>
    <div class="content-area">
      <div class="row padding-fifteen">
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
          <h6>Property Details</h6>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 right-align">
          <button type="button" class="btn" id="btn-edit">Done</button>
        </div>
      </div>
    </div>

    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      <form action="" id="address">
          <input type="text" class="form-control form-style" placeholder="Address">
          <input type="text" class="form-control form-style" placeholder="Apt / Unit">
          <input type="text" class="form-control form-style" placeholder="City or Town">
          <input type="text" class="form-control form-style" placeholder="Estimated Value">
          
      </form>
      
      <h6 id="padding-up">Property Usage</h6>

      <button type="button" class="btn btn-primary btn-style btn-blue">Primary Residance</button>
      <button type="button" class="btn btn-primary btn-style btn-blue">Condo</button>
      <button type="button" class="btn btn-primary btn-style btn-blue">Co-op</button>


      <h6 id="padding-up">Are you a current or former member of the US Military?</h6>

      <button type="button" class="btn btn-primary btn-style btn-blue">Yes</button>
      <button type="button" class="btn btn-primary btn-style btn-blue">No</button>


      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY OPTION) 12  Apply Now I’m Refinancing  Property Info.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(N0N MILITARY OPTION) 13  Apply Now  I’m Refinancing  Property Info  REGISTRATION.html" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>

    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- 12A ends -->
<!-- click done button int will move to upper section 12 -->
  <!-- click back button in section 12A then it will move to upper section 12 -->
  <!-- click on next button it will move to page 13 apply-now-prop-info-register13 -->