<div class="main-content" *ngIf="number==1">
    <h2>Now tell us about your assets.</h2>
    <h6>if you’re not exactly sure, your best guess is fine.</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <form action="" id="employer-details">
        
          <select class="form-select form-style">
              <option>-Account type-</option>
          </select>
        <input type="text" class="form-control form-style" placeholder="Finantional institution">
        <input type="text" class="form-control form-style" placeholder="Balance">
      </form>
      <div class="row margin-top">
          <div class="col-md-2 offset-md-1">
              
              <a routerLink="/purchase/income-info/5" class="btn" id="btn-back">Back</a>
          </div>
          <div class="col-md-2 offset-md-1">
              
              <a routerLink="/purchase/assets-info/2" class="btn" id="btn-next">Next</a>
          </div>
          <div class="col-md-2 offset-md-1">
              
              <a routerLink="/purchase/assets-info/2" class="btn" id="btn-back">Skip</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>


  <!--  Click back button move to page 27 purchase-income-source27 component -->
  <!-- click next or skip go to the 28A section below -->
  <!-- Section 28A starts -->

  <div class="main-content" *ngIf="number==2">
    <h2>Thanks! Do you have any other assets you’d like to share?</h2>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a routerLink="/purchase/assets-info/6" class="btn btn-primary btn-style btn-orange">Yes</a>
      
      <a routerLink="/purchase/gov/1" class="btn btn-primary btn-style btn-orange">No</a>
      

      <div class="row">
          <div class="col-md-12 margin-top">
              <button type="button" class="btn" id="btn-back">Back</button>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- Section 28A Ends -->

  <!-- Click No button on 28A and it will go to page 29 -->

  <!-- click Yes button it will move you to the section 28B-->
  <!-- section 28B starts -->
  <div class="main-content" *ngIf="number==3">
    <h2>Let’s review and comfirm your assets.</h2>
    <div class="content-area">
      <div class="row">
        <div class="col-md-8">
          <h6>Asset</h6>
        </div>
        <div class="col-md-4 right-align">
          
          <a href="(N0N MILITARY) 28C  Apply Now  I’m Purchasing  Assets   Edits  .html" class="btn" id="btn-edit">Edit</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="profile-details">
            <p>Account Type: Checking account</p>
            <p>Financial Institution: Bank of America</p>
            <p>Balance: $125,000</p>
            
          </div>
        </div>
      </div>
      
    </div>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY) 28A  Apply Now  I’m Purchasing  Assets  Yes Button  .html" class="btn" id="btn-back">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(N0N MILITARY) 28D  Apply Now  I’m Purchasing  Assets  any other assets  .html" class="btn" id="btn-next">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- section 28B ends -->

  <!-- Click edit button it will open section 28C -->
  <!-- section 28C starts -->
  <div class="main-content" *ngIf="number==4">
    <h2>Let’s review and comfirm your assets.</h2>
    <div class="content-area">
      <div class="row">
        <div class="col-md-8">
          <h6>Asset</h6>
        </div>
        <div class="col-md-4 right-align">
          
          <a href="(N0N MILITARY) 28B Apply Now  I’m Purchasing  Assets  Review Edits  .html" class="btn" id="btn-edit">Done</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 margin-top">
          <form action="" id="employer-details">
              <select class="form-select form-style">
                <option>Checking Account</option>
              </select>
             
              <input type="text" class="form-control form-style" placeholder="Finantional institution">
              <input type="text" class="form-control form-style" placeholder="Balance">
            </form>
        </div>
      </div>
      
        
    </div>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY) 28A  Apply Now  I’m Purchasing  Assets  Yes Button  .html" class="btn" id="btn-back">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(N0N MILITARY) 28D  Apply Now  I’m Purchasing  Assets  any other assets  .html" class="btn" id="btn-next">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- section 28C ends -->
  <!-- click next on 28B it will land in 28D Or click next on 28C it will land on 28D -->
<!-- Section 28D starts -->
<div class="main-content" *ngIf="number==5">
    <h2>Thanks! Do you have any other assets you’d like to share?</h2>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(N0N MILITARY) 28E  Apply Now  I’m Purchasing  Assets  any other assets  .html" class="btn btn-primary btn-style btn-orange">Yes</a>
      
      <a href="(N0N MILITARY) 29  Apply Now  I’m Purchasing  Government  .html" class="btn btn-primary btn-style btn-orange">No</a>
      

      <div class="row">
          <div class="col-md-12 margin-top">
              
              <a href="(N0N MILITARY) 28B Apply Now  I’m Purchasing  Assets  Review Edits  .html" class="btn" id="btn-back">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>


<!-- section 28D ends -->
<!-- Click No on 28D section it will land in section 29 -->
<!-- Click Yes on 28D section it will land in section 28E -->
<!-- section 28E starts -->
<div class="main-content" *ngIf="number==6">
    <h2>Let’s review and comfirm your assets.</h2>
    <div class="content-area">
      <div class="row">
        <div class="col-md-8">
          <h6>Asset</h6>
        </div>
        <div class="col-md-4 right-align">
          <button type="button" class="btn" id="btn-edit">Edit</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="profile-details">
            <p>Account Type: Checking account</p>
            <p>Financial Institution: Bank of America</p>
            <p>Balance: $125,000</p>
            
          </div>
        </div>
      </div>
      
    </div>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY) 28D  Apply Now  I’m Purchasing  Assets  any other assets  .html" class="btn" id="btn-back">Back</a>
          </div>
          <div class="col-md-2">
              
              <a routerLink="/purchase/assets-info/2" class="btn" id="btn-next">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
<!-- section 28E ends -->

<!-- click on next button it will land in section Page 29 purchase-government29-->