<div class="main-content" *ngIf="number==1">
    <h2>Is the co-borrower your legal spouse?</h2>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a routerLink="/refinance/personal-info/2" class="btn btn-primary btn-style btn-blue">Yes</a>
      
      <a routerLink="/refinance/personal-info/2" class="btn btn-primary btn-style btn-blue">No</a>
      
      <div class="row">
          <div class="col-md-12 margin-top">
              
              <a routerLink="/refinance/property-info/13" class="btn" id="btn-back-blue">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- click on back button will go to apply-now-prop-info-own15 -->
  <!-- click on any button will go to page 17 apply-now-personal-info-marital17 -->
  <div class="main-content" *ngIf="number==2">
    <h2>What’s your current marital status?</h2>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <a routerLink="/refinance/personal-info/3" class="btn btn-primary btn-style btn-blue">Unmarried</a>
      <a routerLink="/refinance/personal-info/3" class="btn btn-primary btn-style btn-blue">Married</a>
      <a routerLink="/refinance/personal-info/3" class="btn btn-primary btn-style btn-blue">Saparated</a>
      <div class="row">
          <div class="col-md-12 margin-top">
              
              <a routerLink="/refinance/personal-info/1" class="btn" id="btn-back-blue">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click on back button will go to apply-now-personal-info-coborrower16 -->
  <!-- click on any other button it will go to page 18 apply-now-personal-info-dependents18 -->

  <div class="main-content" *ngIf="number==3">
    <h2 class="little-space">How many dependents will be living in your home?</h2>
    <h6 class="narrow-space">All dependents must be between 0 and 18 years old or must be finnacially dependent upon you, the borrower. Do not include yourself or your spouse.</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row margin-top margin-left">
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-3 col-xs-3">
              <button type="button" class="btn" id="btn-minus">-</button>
          </div>
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-3 col-xs-3">
              <h1>0</h1>
          </div>
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-3 col-xs-3">
              <button type="button" class="btn" id="btn-plus">+</button>
          </div>
      </div>
      <div class="row margin-top">
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-4 col-xs-4">  
              <a routerLink="/refinance/personal-info/2" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-4 col-xs-4">
              <a routerLink="/refinance/personal-info/4" class="btn" id="btn-next-blue">Next</a>
          </div> 
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-4 col-xs-4">
              <a routerLink="/refinance/personal-info/4" class="btn" id="btn-back-blue">Skip</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click on back button it will go to apply-now-personal-info-marital17 -->
  <!-- click on next button it will go to section 18A -->
  <!-- click on skip button it will go to page 19 apply-now-current-living19 -->

  <div class="main-content" *ngIf="number==4">
    <h2>Where are you currently living?</h2>
    <div class="button-list col-lg-8 offset-lg-2 col-sm-12 col-xs-12 col-md-12">
      <form action="" id="address">
        <input type="text" class="form-control form-style" placeholder="Address">
        <input type="text" class="form-control form-style" placeholder="Apt / Unit">
        
        
          <div class="row">
              <div class="col-md-4">
                  <input type="text" class="form-control form-style" placeholder="City or Town">
              </div>
              <div class="col-md-4">
                  <select class="form-select form-style">
                  <option>State</option>
                  </select>
              </div>
              <div class="col-md-4">
                  <input type="text" class="form-control form-style" placeholder="Zip Code">
              </div>
          </div>
          <input type="text" class="form-control form-style" placeholder="When did you start living here?">

      </form>

      <p>Are you currently reanting , or do you own?</p> 

      <div class="row">
          <div class="col-md-6 offset-md-3">
              <div class="row margin-top margin-right-btn">
                  <div class="col-md-4">
                      <button type="button" class="btn" id="btn-rent">Own</button>
                  </div>
                  <div class="col-md-4">
                      <button type="button" class="btn" id="btn-rent">Rent</button>
                  </div>
                  <div class="col-md-4">
                      <button type="button" class="btn" id="btn-rent">Other</button>
                  </div>
              </div>
          </div>
      </div>

      <div class="row margin-top">
          <div class="col-md-3 offset-md-3">
              
              <a routerLink="/refinance/personal-info/3" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              
              <a routerLink="/refinance/personal-info/5" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>2
  </div>

  <div class="main-content" *ngIf="number==5">
    <h2 id="padding-zero">Tell us about your monthly expenses?</h2>
    <h6>Simply provide your monthly rent.</h6>
    <div class="button-list margin-top extra-margin col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <form action="">
        <input type="text" class="form-control form-style" placeholder="Estimated Monthly Expenses">
      </form>
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a routerLink="/refinance/personal-info/4" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              
              <a routerLink="/refinance/personal-info/6" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <div class="main-content" *ngIf="number==6">
    <h2>Let's take a few seconds to review and confirm your info again.</h2>
    <div class="content-area">
      <div class="row">
          <div class="col-md-8">
            <h6>Borrower Information</h6>
          </div>
          <div class="col-md-4 right-align">
            
            <a routerLink="/refinance/personal-info/7" class="btn" id="btn-edit">Edit</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="profile-details">
              <p>Legal First Name : Jhon</p>
              <p>Legal Last Name: Cole</p>
              <p>Phone Number: (512) 318-2199</p>
              <p>Email Address: jon24@gmail.com</p>
              
            </div>
          </div>
        </div>
        
      <div class="row">
          <div class="col-md-12">
              <div class="seperator-line"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-8">
            <h6>Borrower Information</h6>
          </div>
          <div class="col-md-4 right-align">
            <button type="button" class="btn" id="btn-edit">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="profile-details">
              <p>Did someone refer you to EZ Online Mortgage? No</p>
              <p>Are you applying on your own, or jointly with another person? Applying on my own</p>
              <p>Marital Status: Unmarried</p>
              <p>How many dependents will be living in your home? 0</p>
              
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="seperator-line"></div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6>Borrower Residence</h6>
          </div>
          <div class="col-md-4 right-align">
            <button type="button" class="btn" id="btn-edit">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="profile-details">
              <p>Address: 5902 Balcones Drive</p>
              <p>City or Town: Austin</p>
              <p>State: TX</p>
              <p>ZIP Code: 78731</p>
              <p>When did you start living here?: Jan 2017</p>
              <p>Are you currently renting, or do you own?: Rent</p>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="seperator-line"></div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6>Monthly Expenses</h6>
          </div>
          <div class="col-md-4 right-align">
            <button type="button" class="btn" id="btn-edit">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="profile-details">
              <p>Estimated Monthly Expenses: $3,000</p>
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="seperator-line"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-8">
            <h6>Co-borrower Information</h6>
          </div>
          <div class="col-md-4 right-align">
            <button type="button" class="btn" id="btn-edit">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="profile-details">
              <p>Legal First Name: Mudassar</p>
              <p>Legal Last Name: Anssari</p>
              <p>Phone Number: (034) 880-3755</p>
              <p>Email Address: sally@gmail.com</p>
              <p>Marital Status: Married</p>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="seperator-line"></div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6>Co-borrower Residence</h6>
          </div>
          <div class="col-md-4 right-align">
            <button type="button" class="btn" id="btn-edit">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="profile-details">
              <p>Address: 602 West G Rogell Drive</p>
              <p>City or Town: Detroit</p>
              <p>State: MI</p>
              <p>Zip Code: 48242</p>
              <p>When did they start living here?: Dec 1978</p>
              <p>Is the Co-borrower currently renting, or do they own?: Rent</p>
              <p>Has the Co-borrower ever served the U.S. Military?: No</p>
              <p>How many dependents will be living in your home?: 1</p>
            </div>
          </div>
        </div>
    </div>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a routerLink="/refinance/personal-info/5" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              
              <a routerLink="/refinance/personal-info/8" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click on back button it will goto page 20 apply-now-monthly-expense20 -->
  <!-- click on edit button it will goto section 21A -->
  <!-- click on next button it will goto section 21B -->
  
  <!-- section 21A starts -->
  <div class="main-content" *ngIf="number==7">
    <h2>Let's take a few seconds to review and confirm your info again.</h2>
    <div class="content-area text-center">
      <div class="row">
        <div class="col-md-8 left-align">
          <h6>Borrower Information</h6>
        </div>
        <div class="col-md-4 right-align">
          <a routerLink="/refinance/personal-info/6" type="button" class="btn" id="btn-edit">Done</a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2 margin-top">
          <form action="" id="address">
              <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control form-style" placeholder="Legal First Name">
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-style" placeholder="Middle Initial">
                  </div>
              </div>
              <input type="text" class="form-control form-style" placeholder="Legal Last Name">
              <input type="text" class="form-control form-style" placeholder="Phone Number">
              <input type="email" class="form-control form-style" placeholder="Email Address">
              
              
                
            </form>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="seperator-line"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-8 left-align">
            <h6>Borrower Information</h6>
          </div>
          <div class="col-md-4 right-align">
            <button type="button" class="btn" id="btn-edit">Done</button>
          </div>
      </div>
        <div class="row">
          <div class="col-lg-8 offset-lg-2 margin-top">
              
              <div class="button-list col-lg-12">
                  <p class="edit-info">Did someone refer you to EZ Online Mortgage?</p>
                  <button type="button" class="btn btn-primary btn-style btn-blue">Yes</button>
                  <button type="button" class="btn btn-primary btn-style btn-blue">No</button>
                  <input type="text" class="form-control form-style" placeholder="That’s make us happy! Who refered us?">

                  <p class="edit-info">Is the co-borrower your legal spouse?</p>
                  <button type="button" class="btn btn-primary btn-style btn-blue">Yes</button>
                  <button type="button" class="btn btn-primary btn-style btn-blue">No</button>

                  <p class="edit-info">How many dependents will be living in your home?</p>

                  
                      <div class="narrow-space">
                          <div class="row">
                              <div class="col-md-4 col-lg-4  col-sm-3 col-xs-3">
                                  <button type="button" class="btn" id="btn-minus">-</button>
                              </div>
                              <div class="col-md-4 col-lg-4  col-sm-3 col-xs-3">
                                  <h1>1</h1>
                              </div>
                              <div class="col-md-4 col-lg-4 col-sm-3 col-xs-3">
                                  <button type="button" class="btn" id="btn-plus">+</button>
                              </div>
                          </div>
                      </div>
                  
                  <input type="text" class="form-control form-style margin-top" placeholder="First dependent’s age">

              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="seperator-line"></div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8 left-align">
            <h6>Borrower Residence</h6>
          </div>
          <div class="col-md-4 right-align">
            <button type="button" class="btn" id="btn-edit">Done</button>
          </div>
      </div>
        
      <div class="row">
          <div class="col-lg-8 offset-lg-2 margin-top">
              
              <div class="button-list col-lg-12">
                  <form action="" id="address">
                      <input type="text" class="form-control form-style" placeholder="Address">
                      <input type="text" class="form-control form-style" placeholder="Apt / Unit">
                      
                      
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control form-style" placeholder="City or Town">
                            </div>
                            <div class="col-md-4">
                                <select class="form-select form-style">
                                <option>State</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control form-style" placeholder="Zip Code">
                            </div>
                        </div>
                        <input type="text" class="form-control form-style" placeholder="When did you start living here?">
    
                    </form>
    
                    <p>Are you currently reanting , or do you own?</p> 
    
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="row margin-top margin-right-btn">
                                <div class="col-md-4">
                                    <button type="button" class="btn" id="btn-rent">Own</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn" id="btn-rent">Rent</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn" id="btn-rent">Other</button>
                                </div>
                            </div>
                        </div>
                    </div>

              </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="seperator-line"></div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8 left-align">
            <h6>Monthly Expenses</h6>
          </div>
          <div class="col-md-4 right-align">
            <button type="button" class="btn" id="btn-edit">Done</button>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-8 offset-lg-2 margin-top">
              
              <div class="button-list col-lg-12">
                  <form action="" id="expense">
                      <input type="text" class="form-control form-style" placeholder="Estimated Monthly Expenses">
                    
                    </form>

              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="seperator-line"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-8 left-align">
            <h6>Co-borrower Information</h6>
          </div>
          <div class="col-md-4 right-align">
            <button type="button" class="btn" id="btn-edit">Done</button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 offset-lg-2 margin-top">
            <form action="" id="address">
                <div class="row">
                    <div class="col-md-6">
                      <input type="text" class="form-control form-style" placeholder="Legal First Name">
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control form-style" placeholder="Middle Initial">
                    </div>
                </div>
                <input type="text" class="form-control form-style" placeholder="Legal Last Name">
                <input type="text" class="form-control form-style" placeholder="Phone Number">
                <input type="email" class="form-control form-style" placeholder="Email Address">
                
                
                  
              </form>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="seperator-line"></div>
            </div>
        </div>
        
      
          <div class="row">
            <div class="col-md-8 left-align">
              <h6>Borrower Residence</h6>
            </div>
            <div class="col-md-4 right-align">
              <button type="button" class="btn" id="btn-edit">Done</button>
            </div>
        </div>
          
        <div class="row">
            <div class="col-lg-8 offset-lg-2 margin-top">
                
                <div class="button-list col-lg-12">
                    <form action="" id="address">
                        <input type="text" class="form-control form-style" placeholder="Address">
                        <input type="text" class="form-control form-style" placeholder="Apt / Unit">
                        
                        
                          <div class="row">
                              <div class="col-md-4">
                                  <input type="text" class="form-control form-style" placeholder="City or Town">
                              </div>
                              <div class="col-md-4">
                                  <select class="form-select form-style">
                                  <option>State</option>
                                  </select>
                              </div>
                              <div class="col-md-4">
                                  <input type="text" class="form-control form-style" placeholder="Zip Code">
                              </div>
                          </div>
                          <input type="text" class="form-control form-style" placeholder="When did you start living here?">
      
                      </form>
      
                      <p>Is the Co-borrower currently renting, or do they own?</p> 
      
                      <div class="row">
                          <div class="col-md-6 offset-md-3">
                              <div class="row margin-top margin-right-btn">
                                  <div class="col-md-4">
                                      <button type="button" class="btn" id="btn-rent">Own</button>
                                  </div>
                                  <div class="col-md-4">
                                      <button type="button" class="btn" id="btn-rent">Rent</button>
                                  </div>
                                  <div class="col-md-4">
                                      <button type="button" class="btn" id="btn-rent">Other</button>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <p class="edit-info margin-top">Are you a current or former member of the US Military?</p>
                      <button type="button" class="btn btn-primary btn-style btn-blue">Yes</button>
                      <button type="button" class="btn btn-primary btn-style btn-blue">No</button>
                      <p class="edit-info">How many dependents will be living in your home?</p>

                  
                      <div class="narrow-space">
                          <div class="row">
                              <div class="col-md-4 col-lg-4  col-sm-3 col-xs-3">
                                  <button type="button" class="btn" id="btn-minus">-</button>
                              </div>
                              <div class="col-md-4 col-lg-4  col-sm-3 col-xs-3">
                                  <h1>1</h1>
                              </div>
                              <div class="col-md-4 col-lg-4 col-sm-3 col-xs-3">
                                  <button type="button" class="btn" id="btn-plus">+</button>
                              </div>
                          </div>
                      </div>
                  
                  <input type="text" class="form-control form-style margin-top" placeholder="First dependent’s age">

                </div>
            </div>
          </div>

  </div>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row">
          <div class="col-md-3 offset-md-3">
              <a routerLink="/refinance/personal-info/5" type="button" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              <a routerLink="/refinance/personal-info/8" type="button" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- section 21A ends -->


  <!-- section 21B starts -->
  <div class="main-content" *ngIf="number==8">
    <h2 id="padding-zero">OK great! Tell us about your co-borrower.</h2>
    <h6>And for your peace of mind please know we'll never sell your info to 3rd parties.</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <form action="" id="address">
        <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control form-style" placeholder="Legal First Name">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control form-style" placeholder="Middle Initial">
            </div>
        </div>
        <input type="text" class="form-control form-style" placeholder="Legal Last Name">
        <input type="text" class="form-control form-style" placeholder="Phone Number">
        <input type="email" class="form-control form-style" placeholder="Email Address">
        <div class="row">
            <div class="col-md-12">
                <div class="terms">
                    <p>By entering phone number and clicking the "Next" button, you are providing express written consent for EZ Online Mortgage. and its affiliates, agents, and service providers to contact you at that number regarding products or services, including via auto-dialed and/or prerecorded or artificial voice calls and text messages (SMS and MMS), or email even if your telephone number is a cellular number or on a corporate, state, or the National Do Not Call Registry <span class="orange-text">(DNC)</span> or other do not contact list.</p>

                      <p>You may also reach us at <span class="orange-text">(800) 930-8195</span> or by utilizing our services at <span class="orange-text">Loan Options</span>. You may opt-out at any time by emailing us a Do Not Call Request at <span class="orange-text"><a href="">dnc@ezonlinemortgage.com</a></span> and providing your phone number. Your consent is not required or a condition of any purchase. Message and data rates may apply.</p>
                      
                      <p>You also consent to our <span class="orange-text">SMS terms, Privacy Policy, Terms of Use,</span> and <span class="orange-text">CA Terms</span> of Use. By communicating with us by phone you consent to calls being recorded and monitored.</p>
                </div>
            </div>
        </div>
          
      </form>
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY OPTION) 21  Apply Now I’m Refinancing  Personal Info  Review  (Edit).html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              
              <a routerLink="/refinance/income/1" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- section 21B ends -->
  <!-- click back button it will move to upper section of 21 page  -->
  <!-- click on next button it will move to page 22 apply-now-personal-income22 -->