<div class="main-content">
    <h2 class="little-space">What type of home is it? <img src="img/info.svg" alt=""></h2>
  
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      <button type="button" class="btn btn-primary btn-style btn-blue">Single Family</button>
      <button type="button" class="btn btn-primary btn-style btn-blue">Condo</button>
      <button type="button" class="btn btn-primary btn-style btn-blue">Co-op</button>
      <button type="button" class="btn btn-primary btn-style btn-blue">Townhome</button>
      <button type="button" class="btn btn-primary btn-style btn-blue">Multi-Family</button>

      <div class="row">
          <div class="col-md-12">
              <button type="button" class="btn" id="btn-back-blue">Back</button>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>