<div class="main-content">
    <h2 id="padding-zero" class="little-space">Tell us a little bit more about your home.</h2>
    <h6>If you don't know exactly your best guess is fine.</h6>
    <div class="button-list margin-top extra-margin col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <form action="">
        
        <input type="text" class="form-control form-style" placeholder="Estimated Value">
        <input type="text" class="form-control form-style" placeholder="Remaining Loan Balance">
        <input type="text" class="form-control form-style" placeholder="Cash Out Amount">
          
      </form>
      <h6 class="border-h">These numbers help us give you a new estimated loan amount.</h6>
      <h4 class="new-loan">New Loan Estimate</h4>
      <h4>$3,458,476</h4>
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a routerLink="/refinance/apply-now-property-info" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              
              <a routerLink="/refinance/apply-now-property-info6" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click on back button it will move to page 4 apply-now-property-info4 -->
  <!-- click on next button it will move to page 5 apply-now-property-info6 -->