<div class="main-content">
    <h2>Let's do a quick review of your income. Look good?</h2>
    <div class="content-area">
      <div class="row">
        <div class="col-md-8">
          <h6>Co-borrower Employment</h6>
        </div>
        <div class="col-md-4 right-align">
          
          <a href="(N0N MILITARY OPTION) 32A  Apply Now I’m Refinancing  Personal Info  Income  co-borrower income EDIT Window.html" class="btn" id="btn-edit">Edit</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="profile-details">
            <p>Employment Type: Self-employed</p>
            <p>Business Name: xpozure</p>
            <p>Address: 6400 Sunset Boulevard</p>
            <p>City: Los Angeles</p>
            <p>State: CA</p>
            <p>Zip Code: 90028</p>
            <p>Business Phone Number: (034) 880-3755</p>
            <p>Estimated Start Date: 12/23/2015</p>
            <p>Estimated End Date: 02/23/2017</p>
            <p>Years in the co-borrower's profession: 4</p>
            <p>Job Title: Graphic Designer</p>
            <p>Estimated Annual Base Salary: $22,323,223</p>
            <p>Estimated Annual Bonus: $24,242,424</p>
            <p>Estimated Annual Commission: $353,632</p>
            <p>Estimated Annual Overtime: $346,435,223</p>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="seperator-line"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-8">
            <h6>Co-borrower Other Income</h6>
          </div>
          <div class="col-md-4 right-align">
            <button type="button" class="btn" id="btn-edit">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="profile-details">
              <p>Income Type: Alimony</p>
              <p>Monthly Amount: $223,424</p>
              
            </div>
          </div>
        </div>
    </div>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY OPTION) 31  Apply Now I’m Refinancing  Personal Info  Income  co-borrower any other sources of income to share.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(N0N MILITARY OPTION) 33  Apply Now I’m Refinancing   Assets.html" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click on edit button it will goto section 32A -->
   <!-- click on back button it will goto page 31 apply-now-coborrower-other-source31 -->
  <!-- click next button it will goto page 33 apply-now-assets33 -->

  <!-- section 32A starts -->
  <div class="main-content">
    <h2>Let's do a quick review of your income. Look good?</h2>
    <div class="content-area">
      <div class="row">
        <div class="col-md-8">
          <h6>Co-borrower Employment</h6>
        </div>
        <div class="col-md-4 right-align">
          <button type="button" class="btn" id="btn-edit">Done</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1 margin-top">
          <form action="" id="employer-details">
              <select class="form-select form-style">
                <option>- Employment Type -</option>
              </select>
              <input type="text" class="form-control form-style" placeholder="Business Name">
              <input type="text" class="form-control form-style" placeholder="Address">
              <input type="text" class="form-control form-style" placeholder="Suite">
              <input type="text" class="form-control form-style" placeholder="City">
              
                <div class="row">
                  <div class="col-md-5">
                    <select class="form-select form-style">
                      <option>State</option>
                    </select>
                  </div>
                  <div class="col-md-7">
                    <input type="text" class="form-control form-style" placeholder="Zip Code">
                  </div>
                
              </div>
              <input type="text" class="form-control form-style" placeholder="Business Phone Number">
              <div class="radio-input">
                  <div class="row">
                    <div class="col-md-12">
                        <input type="checkbox" class="form-style" placeholder=""><p>This is my Current Job</p>
                    </div>
                  </div>
              </div>
              <input type="text" class="form-control form-style" placeholder="Estimated Start date">
              <input type="text" class="form-control form-style" placeholder="Years in the co-borrower's profession">
              <input type="text" class="form-control form-style" placeholder="Job Title">
              <input type="text" class="form-control form-style" placeholder="Estimated Annual Base Salery">
              <input type="text" class="form-control form-style" placeholder="Estimated Annual Bonus">
              <input type="text" class="form-control form-style" placeholder="Estimated Annual Commission">
              <input type="text" class="form-control form-style" placeholder="Estimated Annual Commission">
              <input type="text" class="form-control form-style" placeholder="Estimated Annual Overtime">

              
            </form>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="seperator-line"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-8">
            <h6>Co-borrower Other Income</h6>
          </div>
          <div class="col-md-4 right-align">
            <button type="button" class="btn" id="btn-edit">Done</button>
          </div>
      </div>
      <div class="row">
          <div class="col-md-10 offset-md-1 margin-top">
            <form action="" id="">
                <input type="text" class="form-control form-style" placeholder="- Income Type -">
                <input type="text" class="form-control form-style" placeholder="Monthly Amount">
              
              </form>
          </div>
      </div>
        
    </div>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row">
          <div class="col-md-3 offset-md-3">
              <button type="button" class="btn" id="btn-back-blue">Back</button>
          </div>
          <div class="col-md-2">
              <button type="button" class="btn" id="btn-next-blue">Next</button>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- section 32A ends -->