<div class="main-content">
    <h2>Now tell us about your assets.</h2>
    <h6>if you’re not exactly sure, your best guess is fine.</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <form action="" id="employer-details">
        
          <select class="form-select form-style">
              <option>-Account type-</option>
          </select>
        <input type="text" class="form-control form-style" placeholder="Finantional institution">
        <input type="text" class="form-control form-style" placeholder="Balance">
        <select class="form-select form-style">
          <option>- Owner -</option>
      </select>
      </form>
      <div class="row margin-top">
          <div class="col-md-2 offset-md-1">
              
              <a href="(N0N MILITARY OPTION) 32  Apply Now I’m Refinancing  Personal Info  Income  co-borrower income Review.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2 offset-md-1">
              
              <a href="(N0N MILITARY OPTION) 34  Apply Now I’m Refinancing  Assets  Other Assets.html" class="btn" id="btn-next-blue">Next</a>
          </div>
          <div class="col-md-2 offset-md-1">
              
              <a href="(N0N MILITARY OPTION) 34  Apply Now I’m Refinancing  Assets  Other Assets.html" class="btn" id="btn-back-blue">Skip</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
<!-- click back button it will goto page 32 apply-now-income-review32 -->
  <!-- click next/skip button it will goto page 34 apply-now-other-assets34 -->