c<div class="main-content">
    <h2>Our sinccere thanks for your service. What’s your current militery status?</h2>
    
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(MILITARY OPTION) 10A  Apply Now  I’m Refinancing Military Info  military Branches.html" class="btn btn-primary btn-style btn-blue">Active Duty</a>
      
      <a href="(MILITARY OPTION) 10A  Apply Now  I’m Refinancing Military Info  military Branches.html" class="btn btn-primary btn-style btn-blue">Reserves / National Guard</a>
      
      <a href="(MILITARY OPTION) 10A  Apply Now  I’m Refinancing Military Info  military Branches.html" class="btn btn-primary btn-style btn-blue">Co-op</a>
      
      <a href="(MILITARY OPTION) 10A  Apply Now  I’m Refinancing Military Info  military Branches.html" class="btn btn-primary btn-style btn-blue">Surviving Spouse</a>

      <div class="row">
          <div class="col-md-12">
              
              <a href="(MILITARY OPTION) 9  Apply Now I’m Refinancing Property Info Edit info Example Form Filds Formating.html" class="btn" id="btn-back-blue">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click on back button go to page 9 apply-now-mil-propinfo9 -->
  <!-- click on any other button will move to 10A section -->


  <!-- click back button it will move to above section  -->
  <!-- click any other button it will go to section 10B -->
  <!-- section 10A starts -->
  <div class="main-content">
    <h2>Which Branch of the military?</h2>
    
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(MILITARY OPTION) 10B  Apply Now   I’m Refinancing  Military Info  military Branches  Yes.html" class="btn btn-primary btn-style btn-blue">Army</a>
      
      <a href="(MILITARY OPTION) 10B  Apply Now   I’m Refinancing  Military Info  military Branches  Yes.html" class="btn btn-primary btn-style btn-blue">Navy</a>
      
      <a href="(MILITARY OPTION) 10B  Apply Now   I’m Refinancing  Military Info  military Branches  Yes.html" class="btn btn-primary btn-style btn-blue">Marine Corps</a>
      
      <a href="(MILITARY OPTION) 10B  Apply Now   I’m Refinancing  Military Info  military Branches  Yes.html" class="btn btn-primary btn-style btn-blue">Air Force</a>
      
      <a href="(MILITARY OPTION) 10B  Apply Now   I’m Refinancing  Military Info  military Branches  Yes.html" class="btn btn-primary btn-style btn-blue">Coast Guard</a>
      
      <a href="(MILITARY OPTION) 10B  Apply Now   I’m Refinancing  Military Info  military Branches  Yes.html" class="btn btn-primary btn-style btn-blue">Space Force</a>

      <div class="row">
          <div class="col-md-12">
              
              <a href="(MILITARY OPTION) 10  Apply Now  I’m Refinancing  Personal Info.html" class="btn" id="btn-back-blue">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- section 10A ends -->


  <!-- click on next or No button it will move to section 10D -->
  <!-- click on no button it will move to section 10D -->
  <!-- section 10B starts -->
  <div class="main-content">
    <h2>Great! Is your ETS date within the next 12 months?</h2>
    <h6>ETS stands for expiration term of service.</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(MILITARY OPTION) 10C  Apply Now I’m Refinancing  Military Info  military Branches yes ETS date.html" class="btn btn-primary btn-style btn-blue">Yes</a>
      
      <a href="(MILITARY OPTION) 10D  Apply Now  I’m Refinancing  Military Info.html" class="btn btn-primary btn-style btn-blue">No</a>
      

      <div class="row">
          <div class="col-md-12">
              
              <a href="(MILITARY OPTION) 10D  Apply Now  I’m Refinancing  Military Info.html" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- section 10B ends -->

<!-- click on any button it will go to the section 10D -->
  <!-- section 10C starts -->
  <div class="main-content">
    <h2>Great! Is your ETS date within the next 12 months?</h2>
    <h6>ETS stands for expirstion term of service.</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(MILITARY OPTION) 10D  Apply Now  I’m Refinancing  Military Info.html" class="btn btn-primary btn-style btn-blue">Yes</a>
      
      <a href="(MILITARY OPTION) 10D  Apply Now  I’m Refinancing  Military Info.html" class="btn btn-primary btn-style btn-blue">No</a>
      <input type="date" class="form-control form-style">

      <div class="row">
          <div class="col-md-12">
              
              <a href="(MILITARY OPTION) 10D  Apply Now  I’m Refinancing  Military Info.html" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- section 10C ends -->

  <!-- click back button it will move to section 10B -->
  <!-- click yes or no it will move to section 10E -->
  <!-- section 10D starts -->
  <div class="main-content">
    <h2>Have you had a VA loan previously?</h2>
    
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(MILITARY OPTION) 10E Apply Now  I’m Refinancing  Military Info.html" class="btn btn-primary btn-style btn-blue">Yes</a>
      
      <a href="(MILITARY OPTION) 10E Apply Now  I’m Refinancing  Military Info.html" class="btn btn-primary btn-style btn-blue">No</a>
      

      <div class="row">
          <div class="col-md-12">
              
              <a href="(MILITARY OPTION) 10B  Apply Now   I’m Refinancing  Military Info  military Branches  Yes.html" class="btn" id="btn-back-blue">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- section 10D ends -->

<!-- click on back button it will move to section 10D -->
<!-- click on any other button it will move to page 11 apply-now-refinance-milinfo11  -->
<!-- section 10E starts -->
<div class="main-content">
    <h2>Who will be living in the home?</h2>
    
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(REGISTRATION BEGIN) 11 Apply Now  I’m Refinancing  Military Info  Personal Info.html" class="btn btn-primary btn-style btn-blue">Veteran will occopy the home</a>
      
      <a href="(REGISTRATION BEGIN) 11 Apply Now  I’m Refinancing  Military Info  Personal Info.html" class="btn btn-primary btn-style btn-blue">Spouse will occopy the home</a>
      
      <a href="(REGISTRATION BEGIN) 11 Apply Now  I’m Refinancing  Military Info  Personal Info.html" class="btn btn-primary btn-style btn-blue">Veteran and Spouse</a>
      
      <a href="(REGISTRATION BEGIN) 11 Apply Now  I’m Refinancing  Military Info  Personal Info.html" class="btn btn-primary btn-style btn-blue">Surviving Spouse</a>
      

      <div class="row">
          <div class="col-lg-3 offset-lg-3 col-md-12 col-sm-12 col-xs-12">
              
              <a href="(MILITARY OPTION) 10D  Apply Now  I’m Refinancing  Military Info.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-lg-2">
              
              <a href="(REGISTRATION BEGIN) 11 Apply Now  I’m Refinancing  Military Info  Personal Info.html" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
</div>
<!-- section 10E ends -->