<div class="main-content">
    <h2 class="little-space">What type of home is it? <img src="img/info.svg" alt=""></h2>
  
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="7B Apply Now-I’m Refinancing  Property Info  Association dues.html" class="btn btn-primary btn-style btn-blue">Single Family</a>
      
      <a href="7B Apply Now-I’m Refinancing  Property Info  Association dues.html" class="btn btn-primary btn-style btn-blue">Condo</a>
      
      <a href="7B Apply Now-I’m Refinancing  Property Info  Association dues.html" class="btn btn-primary btn-style btn-blue">Co-op</a>
      
      <a href="7B Apply Now-I’m Refinancing  Property Info  Association dues.html" class="btn btn-primary btn-style btn-blue">Townhome</a>
      
      <a href="7B Apply Now-I’m Refinancing  Property Info  Association dues.html" class="btn btn-primary btn-style btn-blue">Multi-Family</a>

      <div class="row">
          <div class="col-md-12">
              
              <a href="6  Apply Now-I’m Refinancing  Property Info.html" class="btn" id="btn-back-blue">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click on back button it will go to page 6 apply-now-property-info6 -->
  <!-- click on any other button it will go to section 7B -->

  <!-- click on back button in 7B it will go to apply-now-property-info7 -->
  <!-- click next or skip button it will move to section 7C -->
  <!-- section 7B starts -->
  <div class="main-content">
    <h2>What are your monthly Homeowners Association dues?</h2>
    
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <form action="">
          <input type="text" class="form-control form-style" placeholder="Monthly HOA dues">
          
      </form>
      
      <div class="row margin-top">
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-2 offset-sm-1 col-xs-2 offset-xs-1">
              
              <a href="7  Apply Now-I’m Refinancing  Property Info.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-2 offset-sm-1 col-xs-2 offset-xs-1">
              
              <a href="7C Apply Now-I’m Refinancing  Property Info  about your home.html" class="btn" id="btn-next-blue">Next</a>
          </div>
          <div class="col-md-2 offset-md-1 col-lg-2 offset-lg-1 col-sm-2 offset-sm-1 col-xs-2 offset-xs-1">
              
              <a href="7C Apply Now-I’m Refinancing  Property Info  about your home.html" class="btn" id="btn-back-blue">Skip</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- section 7B ends -->

  <!-- click back it will goto section 7B -->
  <!-- click on next button it will goto section 7D -->
  <!-- section 7C starts -->
  <div class="main-content">
    <h2 class="little-space">Tell us a little bit more about your home.</h2>
    <h6>If you don't know exactly your best guess is fine.</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <form action="" id="employer-details">
        
        <input type="text" class="form-control form-style" placeholder="Year Home was Purchased">
        <input type="text" class="form-control form-style" placeholder="Original Purchase Price">
        <input type="text" class="form-control form-style" placeholder="Estimated annual taxes">
        <input type="text" class="form-control form-style" placeholder="Estimated annual home insurance">
        
      </form>
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="7B Apply Now-I’m Refinancing  Property Info  Association dues.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="7D Apply Now-I’m Refinancing Property Info  currently using your home.html" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- section 7C ends -->

  <!-- click on back button move to section 7C -->
  <!-- click any other button move to page 8 apply-now-refinance-yes8 -->
  <!-- section 7D starts -->
  <div class="main-content">
    <h2 class="narrow-space">How are you currently using your home?</h2>
  
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(MILITARY OPTION) 8  Apply Now I’m Refinancing Yes - BUTTON.html" class="btn btn-primary btn-style btn-blue">Primary Residance</a>
      
      <a href="(MILITARY OPTION) 8  Apply Now I’m Refinancing Yes - BUTTON.html" class="btn btn-primary btn-style btn-blue">Second Home</a>
      
      <a href="(MILITARY OPTION) 8  Apply Now I’m Refinancing Yes - BUTTON.html" class="btn btn-primary btn-style btn-blue">Investment / Rental</a>

      <div class="row">
          <div class="col-md-12">
              
              <a href="7C Apply Now-I’m Refinancing  Property Info  about your home.html" class="btn" id="btn-back-blue">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- section 7D ends -->