<div class="main-content">
    <h2>Let's take a few seconds to review and confirm your info so far.</h2>
    <div class="content-area">
      <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
          <h6>Property Info</h6>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 right-align">
          
          <a href="(MILITARY OPTION) 9A  Apply Now  I’m Refinancing  Property Info  Edit info (Example Form Filds Formating).html" class="btn" id="btn-edit">Edit</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="profile-details">
            <p>Preferred Loan Terms: Lower rate</p>
            <p>Address: 7431 Paso Robles Avenue</p>
            <p>City or Town: Los Angeles</p>
            <p>Zip Code: 91406</p>
            <p>State: CA</p>
            <p>County: Los Angeles</p>
            <p>Estimated Value: $242,424</p>
            <p>Remaining Loan Balance: $234,242</p>
            <p>Cash Out Amount: $3,224</p>
            <p>Loan Amount: $237,466</p>
            <p>Self-selected Credit Score: Average (640 – 699)</p>
            <p>Type of Home: Co-op</p>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="seperator-line"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
            <h6>Property Details</h6>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 right-align">
            <button type="button" class="btn" id="btn-edit">Edit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="profile-details">
              <p>Year Home was Purchased: 2019</p>
              <p>Original Purchase Price: $234,224</p>
              <p>Estimated annual taxes: $2,342</p>
              <p>Estimated annual home insurance: $24,252</p>
              <p>Property Usage: Second Home</p>
              <p>Are you a current or former member of the US Military?: Yes</p>
            </div>
          </div>
        </div>
    </div>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row">
          <div class="col-md-3 offset-md-3 col-lg-3 offset-lg-3  col-sm-6 col-xs-6">
              
              <a href="(MILITARY OPTION) 8  Apply Now I’m Refinancing Yes - BUTTON.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6">
              
              <a href="(MILITARY OPTION) 10  Apply Now  I’m Refinancing  Personal Info.html" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click edit button it will move to page apply-now-mil-propinfo9-a -->
  <!-- click next button it will move to page 10 apply-now-refinance-personal10 -->
  <!-- click on back button it will go to apply-now-refinance-yes8 -->