<div class="main-content">
    <h2>Thanks! Do you have any other assets you’d like to share?</h2>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <a href="(N0N MILITARY)  34B  Apply Now  I’m Purchasing  Assets  Review  Edits.html" class="btn btn-primary btn-style btn-blue">Yes</a>
      <a href="(N0N MILITARY) 35  Apply Now  I’m Purchasing  Government.html" class="btn btn-primary btn-style btn-blue">No</a>
      <div class="row">
          <div class="col-md-3 offset-md-3">
              <a href="(N0N MILITARY OPTION) 33  Apply Now I’m Refinancing   Assets.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              <a href="(N0N MILITARY)  34B  Apply Now  I’m Purchasing  Assets  Review  Edits.html" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- click yes/next it will goto section 34B -->
  <!-- click no it will goto page 35 apply-now-purchase-gov35 -->
  <!-- click back it will goto page 33 apply-now-assets33 -->


 <!-- section 34B starts -->
 <div class="main-content">
    <h2>Let’s review and comfirm your assets.</h2>
    <div class="content-area">
      <div class="row">
        <div class="col-md-8">
          <h6>Asset</h6>
        </div>
        <div class="col-md-4 right-align">
          
          <a href="(N0N MILITARY) 34C  Apply Now  I’m Purchasing  Assets   Done.html" class="btn" id="btn-edit">Edit</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="profile-details">
            <p>Account Type: Checking account</p>
            <p>Financial Institution: Bank of America</p>
            <p>Balance: $125,000</p>
            
          </div>
        </div>
      </div>
      
    </div>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row">
          <div class="col-md-3 offset-md-3">
              <button type="button" class="btn" id="btn-back-blue">Back</button>
          </div>
          <div class="col-md-2">
              <button type="button" class="btn" id="btn-next-blue">Next</button>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
<!-- section 34B ends -->
<!-- click edit it will goto 34C section -->

<!-- section 34C starts -->
<div class="main-content">
    <h2>Let’s review and comfirm your assets.</h2>
    <div class="content-area">
      <div class="row">
        <div class="col-md-8">
          <h6>Asset</h6>
        </div>
        <div class="col-md-4 right-align">
          
          <a href="(N0N MILITARY)  34B  Apply Now  I’m Purchasing  Assets  Review  Edits.html" class="btn" id="btn-edit">Done</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 margin-top">
          <form action="" id="employer-details">
              <select class="form-select form-style">
                <option>Checking Account</option>
              </select>
             
              <input type="text" class="form-control form-style" placeholder="Finantional institution">
              <input type="text" class="form-control form-style" placeholder="Balance">
            </form>
        </div>
      </div>
      
        
    </div>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY)  34B  Apply Now  I’m Purchasing  Assets  Review  Edits.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(N0N MILITARY) 35  Apply Now  I’m Purchasing  Government.html" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
<!-- section 34C ends -->
<!-- click back/done button it will goto 34B -->
<!-- click on next button in section 34C it will goto page 35 apply-now-purchase-gov35  -->