<div class="main-content">
    <h2>What’s your current marital status?</h2>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(N0N MILITARY) 22  Apply Now  I’m Purchasing  How many dependents.html" class="btn btn-primary btn-style btn-orange">Unmarried</a>
      
      <a href="(N0N MILITARY) 22  Apply Now  I’m Purchasing  How many dependents.html" class="btn btn-primary btn-style btn-orange">Married</a>
      
      <a href="(N0N MILITARY) 22  Apply Now  I’m Purchasing  How many dependents.html" class="btn btn-primary btn-style btn-orange">Saparated</a>
      
      

      <div class="row">
          <div class="col-md-12 margin-top">
              
              <a href="(N0N MILITARY) 20  Apply Now I’m Purchasing  Applying on  my oun.html" class="btn btn-orange" id="btn-back">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- On clicking any button it will move to the purchase-dependants22 component -->