
<div class="main-content">
    <h2>You’re close! In order to proceed please agree to the following.</h2>
    <div class="content-area">
      
      <div class="row">
        <div class="col-md-10">
          <form action="" id="gov-details">
              
              <div class="radio-input-gov">
                  <div class="row">
                      <div class="col-md-12">
                          <input type="radio" class="form-style" placeholder=""><p>I certify the following</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <input type="radio" class="form-style" placeholder=""><p>I have read the eConsent disclosure &amp; understand that communications
                              will be provided electronically.</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <input type="radio" class="form-style" placeholder=""><p>I have read the Third Party Consent Disclosure &amp; authorize EZ Online Mortgage,
                              to obtain from third parties any and all verification information
                              and documentation that they may request.</p>
                      </div>
                  </div>
              </div>
              

          </form>
        </div>
      </div>
      
        
    </div>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY) 35A  Apply Now  I’m Purchasing  Government  Almost Done.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(N0N MILITARY) 36A  Apply Now  I’m Purchasing  Credit Scores  Cradit confirmation.html" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click on back button it will go to component apply-now-purchase-gov35 section 35A  -->
  <!-- click on next button it will goto section 36A -->
  <!-- section 36A starts -->

  <!-- section 36A ends -->
  <div class="main-content">
    <h2>Last Step! Cradit confirmation! We’ll provide your cradit scores along with accurate rates and a pre-approval!</h2>
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <select class="form-select form-style">
          <option>Social Security Number</option>
      </select>
      <input type="text" class="form-control form-style" placeholder="Confirm SSN">
      <input type="text" class="form-control form-style" placeholder="Birthdate">
      <p>By Clicking “ Next” I authorize and consent to EZ Online Mortgage, making inquiriesninto my credit as discribed under the Federal Fair Credit Reporting Act(15 U.S.C., 1681 (a), etseq.). Please click here for our full terms and conditions.</p>
      
      <div class="row">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY) 36  Apply Now  I’m Purchasing  Credit Scores.html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(N0N MILITARY) 37  Apply Now  I’m Purchasing  Thankx For Applying.html" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- section 36A ends -->
  <!-- click on back button it will goto upper section 36 -->
  <!-- click on next button it will goto page 37 apply-now-thanx37 -->
