
<div class="main-content">
    <h2>Where are you currently living?</h2>
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <form action="" id="address">
        <input type="text" class="form-control form-style" placeholder="Address">
        <input type="text" class="form-control form-style" placeholder="Apt / Unit">
        
        
          <div class="row">
              <div class="col-md-4">
                  <input type="text" class="form-control form-style" placeholder="City or Town">
              </div>
              <div class="col-md-4">
                  <select class="form-select form-style">
                  <option>State</option>
                  </select>
              </div>
              <div class="col-md-4">
                  <input type="text" class="form-control form-style" placeholder="Zip Code">
              </div>
          </div>
          <input type="text" class="form-control form-style" placeholder="When did you start living here?">

      </form>

      <p>Are you currently reanting , or do you own?</p> 

      <div class="row">
          <div class="col-md-6 offset-md-3">
              <div class="row margin-top margin-right-btn">
                  <div class="col-md-4">
                      <button type="button" class="btn" id="btn-rent">Own</button>
                  </div>
                  <div class="col-md-4">
                      <button type="button" class="btn" id="btn-rent">Rent</button>
                  </div>
                  <div class="col-md-4">
                      <button type="button" class="btn" id="btn-rent">Other</button>
                  </div>
              </div>
          </div>
      </div>

      <div class="row margin-top">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY) 22  Apply Now  I’m Purchasing  How many dependents.html" class="btn" id="btn-back">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(N0N MILITARY) 24  Apply Now  I’m Purchasing  monthly housing expenses.html" class="btn" id="btn-next">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- Click next to go to page 24 purchase-monthly-expense -->