<div class="main-content">
    <h2>OK great! Tell us about your co-borrower.</h2>
    <div class="button-list col-lg-8 offset-lg-2 col-sm-12 col-xs-12 col-md-12">
      <form action="" id="address">
        <input type="text" class="form-control form-style" placeholder="Address">
        <input type="text" class="form-control form-style" placeholder="Apt / Unit">
        
        
          <div class="row">
              <div class="col-md-4">
                  <input type="text" class="form-control form-style" placeholder="City or Town">
              </div>
              <div class="col-md-4">
                  <select class="form-select form-style">
                  <option>State</option>
                  </select>
              </div>
              <div class="col-md-4">
                  <input type="text" class="form-control form-style" placeholder="Zip Code">
              </div>
          </div>
          <input type="text" class="form-control form-style" placeholder="When did you start living here?">

      </form>

      <p>Is the Co-borrower currently renting, or do they own?</p> 

      <div class="row">
          <div class="col-md-6 offset-md-3">
              <div class="row margin-top margin-right-btn">
                  <div class="col-md-4">
                      <button type="button" class="btn" id="btn-rent">Own</button>
                  </div>
                  <div class="col-md-4">
                      <button type="button" class="btn" id="btn-rent">Rent</button>
                  </div>
                  <div class="col-md-4">
                      <button type="button" class="btn" id="btn-rent">Other</button>
                  </div>
              </div>
          </div>
      </div>

      <div class="row margin-top">
          <div class="col-md-3 offset-md-3">
              
              <a href="(N0N MILITARY OPTION) 21B  Apply Now I’m Refinancing  Personal Info  Review Co-Borrower  CONFIRMENED (Edit).html" class="btn" id="btn-back-blue">Back</a>
          </div>
          <div class="col-md-2">
              
              <a href="(N0N MILITARY OPTION) 23  Apply Now I’m Refinancing  Personal Info  Income  talk about employment.html" class="btn" id="btn-next-blue">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
  <!-- click on back button it will goto page 21B section of apply-now-info-review21 -->
  <!-- click on next button it will goto page 23 apply-now-income-employment23 -->