<div class="main-content">
    <h2>Are you already working with someone from EZ Online Mortgage?</h2>
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      <button type="button" class="btn btn-primary btn-style btn-orange">Yes</button>
      <a href="4  Apply Now  I’m Purchasing.html" class="btn btn-primary btn-style btn-orange">No</a>
      <p>Who are you working with?</p>
      <input type="text" class="form-control form-style" placeholder="Select your Loan Officer">
      
      <a href="4  Apply Now  I’m Purchasing.html" class="btn btn-primary btn-next btn-orange" role="button">Next</a>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>