<!-- Page no 14 Military Info -->

<div class="main-content">
    <h2>Our sinccere thanks for your service. What’s your current militery status?</h2>
    
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(MILITARY OPTION) 14A  Apply Now  I’m Purchasing  Military Info  military Branches.html" class="btn btn-primary btn-style btn-orange">Active Duty</a>
      
      <a href="(MILITARY OPTION) 14A  Apply Now  I’m Purchasing  Military Info  military Branches.html" class="btn btn-primary btn-style btn-orange">Reserves / National Guard</a>
      
      <a href="(MILITARY OPTION) 14A  Apply Now  I’m Purchasing  Military Info  military Branches.html" class="btn btn-primary btn-style btn-orange">Surviving Spouse</a>
      
      <a href="(MILITARY OPTION) 14A  Apply Now  I’m Purchasing  Military Info  military Branches.html" class="btn btn-primary btn-style btn-orange">Retired / Discharged</a>

      <div class="row">
          <div class="col-md-12">
              
              <a href="(MILITARY OPTION) 13  Apply Now  I’m Purchasing  Property Info.html" class="btn btn-orange" id="btn-back">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

<!-- No 14A Military Branches -->
<div class="main-content">
    <h2>Which Branch of the military?</h2>
    
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(MILITARY OPTION) 14B  Apply Now  I’m Purchasing  Military Info military Branches  Yes.html" class="btn btn-primary btn-style btn-orange">Army</a>
      
      <a href="(MILITARY OPTION) 14B  Apply Now  I’m Purchasing  Military Info military Branches  Yes.html" class="btn btn-primary btn-style btn-orange">Navy</a>
      
      <a href="(MILITARY OPTION) 14B  Apply Now  I’m Purchasing  Military Info military Branches  Yes.html" class="btn btn-primary btn-style btn-orange">Marine Corps</a>
      
      <a href="(MILITARY OPTION) 14B  Apply Now  I’m Purchasing  Military Info military Branches  Yes.html" class="btn btn-primary btn-style btn-orange">Air Force</a>
      
      <a href="(MILITARY OPTION) 14B  Apply Now  I’m Purchasing  Military Info military Branches  Yes.html" class="btn btn-primary btn-style btn-orange">Coast Guard</a>
      
      <a href="(MILITARY OPTION) 14B  Apply Now  I’m Purchasing  Military Info military Branches  Yes.html" class="btn btn-primary btn-style btn-orange">Space Force</a>

      <div class="row">
          <div class="col-md-12">
              
              <a href="(MILITARY OPTION) 14  Apply Now  I’m Purchasing  Military Info.html" class="btn" id="btn-back">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>


<!-- No 14B Military Branches  -Yes -->
<div class="main-content">
    <h2>Great! Is your ETS date within the next 12 months?</h2>
    <h6>Active U.S. Military and veterans may be eligible for VA loan options!</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(MILITARY OPTION) 14C  Apply Now  I’m Purchasing  Military Info  military Branches yes ETS date.html" class="btn btn-primary btn-style btn-orange">Yes</a>
      
      <a href="(MILITARY OPTION) 14D  Apply Now  I’m Purchasing  Military Info .html" class="btn btn-primary btn-style btn-orange">No</a>
      

      <div class="row">
          <div class="col-md-12">
              
              <a href="(MILITARY OPTION) 14D  Apply Now  I’m Purchasing  Military Info .html" class="btn btn-orange" id="btn-next">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

<!-- No 14C Military Branches On clicking any miitary branch from 14B Click yes then go to 14C Yes ETS Date -->
<div class="main-content">
    <h2>Great! Is your ETS date within the next 12 months?</h2>
    <h6>ETS stands for expirstion term of service.</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      <button type="button" class="btn btn-primary btn-style btn-orange">Yes</button>
      <a href="(MILITARY OPTION) 14D  Apply Now  I’m Purchasing  Military Info .html" class="btn btn-primary btn-style btn-orange">No</a>
      <input type="date" class="form-control form-style">

      <div class="row">
          <div class="col-md-12">
              
              <a href="(MILITARY OPTION) 14D  Apply Now  I’m Purchasing  Military Info .html" class="btn btn-orange" id="btn-next">Next</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
<!-- Click Next or No button on above page it will go to 14D -->

<!-- No 14D Military Branches Purchasing Military Info Click No on 14B and it will land on 14D and Click Next still on 14D-->
<div class="main-content">
    <h2>Have you had a VA loan previously?</h2>
    
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(MILITARY OPTION) 14E Apply Now  I’m Purchasing  Military Info  .html" class="btn btn-primary btn-style btn-orange">Yes</a>
      
      <a href="(MILITARY OPTION) 14E Apply Now  I’m Purchasing  Military Info  .html" class="btn btn-primary btn-style btn-orange">No</a>

      <div class="row">
          <div class="col-md-12">
              
              <a href="(MILITARY OPTION) 14B  Apply Now  I’m Purchasing  Military Info military Branches  Yes.html" class="btn btn-orange" id="btn-back">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>
<!-- Click Back on 14D it will land on 14B click Yes or No it will land on 14E -->

<!-- No 14E Military Branches Purchasing Military Info -->
<div class="main-content">
    <h2>Who will be living in the home?</h2>
    
    <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(REGISTRATION BEGIN) 15 Apply Now  I’m Purchasing  Military Info  Personal Info.html" class="btn btn-primary btn-style btn-orange">Veteran will occopy the home</a>
      
      <a href="(REGISTRATION BEGIN) 15 Apply Now  I’m Purchasing  Military Info  Personal Info.html" class="btn btn-primary btn-style btn-orange">Spouse will occopy the home</a>
      
      <a href="(REGISTRATION BEGIN) 15 Apply Now  I’m Purchasing  Military Info  Personal Info.html" class="btn btn-primary btn-style btn-orange">Veteran and Spouse</a>
      
      <a href="(REGISTRATION BEGIN) 15 Apply Now  I’m Purchasing  Military Info  Personal Info.html" class="btn btn-primary btn-style btn-orange">Surviving Spouse</a>
      

      <div class="row">
          <div class="col-md-12">
              
              <a href="(MILITARY OPTION) 14D  Apply Now  I’m Purchasing  Military Info .html" class="btn btn-orange" id="btn-back">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- Click back button it will land on 14D -->
  <!-- Click any other option it will land on 15 purchase-military-personal -->
