<div class="main-content">
    <h2 class="little-space">Do you know your credit score?</h2>
    <h6>We Use this into to match you with the perfect load options.</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="7  Apply Now-I’m Refinancing  Property Info.html" class="btn btn-primary btn-style btn-blue">Excellent (740+)</a>
      
      <a href="7  Apply Now-I’m Refinancing  Property Info.html" class="btn btn-primary btn-style btn-blue">Good(700 - 739)</a>
      
      <a href="7  Apply Now-I’m Refinancing  Property Info.html" class="btn btn-primary btn-style btn-blue">Average (640 - 699)</a>
      
      <a href="7  Apply Now-I’m Refinancing  Property Info.html" class="btn btn-primary btn-style btn-blue">Fair (580 - 639)</a>
      
      <a href="7  Apply Now-I’m Refinancing  Property Info.html" class="btn btn-primary btn-style btn-blue">Needs Improvement (less then 580)</a>

      <div class="row">
          <div class="col-md-12">
              
              <a href="5  Apply Now-I’m Refinancing  Property Info.html" class="btn" id="btn-back-blue">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click on back button it will go to page 5  apply-now-property-info5 -->
  <!-- click on any other button it will go to page 7 apply-now-property-info7 -->