<div class="main-content">
    <h2>Are you applying on your own, or jointly with another person?</h2>
    <h6 class="narrow-space">if applying with another person, we’ll refer to that person as your co-borrower throughout the applcation.</h6>
    <div class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
      
      
      <a href="(N0N MILITARY OPTION) 16  Apply Now I’m Refinancing  Personal Info  Is the co-borrower your legal spouse.html" class="btn btn-primary btn-style btn-blue">Applying on my oun</a>
      
      <a href="(N0N MILITARY OPTION) 16  Apply Now I’m Refinancing  Personal Info  Is the co-borrower your legal spouse.html" class="btn btn-primary btn-style btn-blue">Applying with another person</a>
      

      <div class="row">
          <div class="col-md-12 margin-top">
              
              <a href="(N0N MILITARY OPTION) 14  Apply Now  I’m Refinancing  Property Info  Did someone refer you  YES-BUTTON.html" class="btn" id="btn-back-blue">Back</a>
          </div>
      </div>
    </div>
    <div class="content-footer">
      <p>Already have an account | <a href="">Log in</a></p>
      <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
    </div>
  </div>

  <!-- click on back button it will move to page 14 apply-now-prop-info-refer14 -->
  <!-- click on any other button it will go to page 16 apply-now-personal-info-coborrower -->